a{
    font-size: 60pt;
}
a:link{
    color: red; 
}

a:visited{
    color: gold;
}

a,p{
    background-color: rgb(137, 129, 153);
}

p .a2{
    font-weight: 900;
}

input{
    width: 200px;
    height: 50px;
    border-color: indianred;
    border-width: 10px;
    border-radius: 10px;
    font-size: 30pt;
    
}

input:focus{
    background-color: lavender;
    outline-color: lightsalmon;
    width:230px;
    height:60px;
}